menu "RevK"

	config REVK_APPNAME
	string "Override app name"
	default ""
	help
		Default app name to use

	config REVK_WIFISSID
	string "Default WiFi SSID"
	default "IoT"
	help
		This defines the factory reset default WiFi SSID

	config REVK_WIFIPASS
	string "Default WiFi passphrase"
	default "security"
	help
		This defines the factory reset default WiFi passphrase

	config REVK_MQTTHOST
	string "Default MQTT host"
	default "mqtt.iot"
	help
		This defines the factory reset default MQTT host (insecure)

	config REVK_WIFIIP
	string "Default WiFi Static IP"
	default ""
	help
		This defines the factory reset default WiFi client static IP / CIDR

	config REVK_WIFIGW
	string "Default WiFi Static gateway"
	default ""
	help
		This defines the factory reset default WiFi client static gateway

	config REVK_WIFIDNS
	string "Default WiFi DNS"
	default ""
	help
		This defines the factory reset default WiFi client DNS

	config REVK_OTAHOST
	string "Default OTA host"
	default "ota.iot"
	help
		This defines the factory reset default OTA host (https)

	config REVK_NTPHOST
	string "Default NTP host"
	default "pool.ntp.org"
	help
		This defines the factory reset default NTP host

	config REVK_TZ
	string "Default TZ (timezone)"
	default "GMT+0BST,M3.5.0,M10.5.0"
	help
		This defines the TZ (timezone) control

	config REVK_APMODE
        bool "Access point mode"
        default y
        help
		Enable AP (Access point) mode for base settings

	config REVK_APPORT
	int "Default AP mode port"
	depends on REVK_APMODE
	default 0
	help
		The TCP port for web setup page in AP mode

	config REVK_APWAIT
	int "Default AP mode delay"
	depends on REVK_APMODE
	default 60
	help
		Default time for starting AP mode

	config REVK_APTIME
	int "Default AP active time"
	depends on REVK_APMODE
	default 300
	help
		Default time for AP mode

	config REVK_PARTITION_CHECK
        bool "Check and update partition table"
        default y
        help
		Enable automatic checking of partition table, and update if necessary

	config REVK_LOCK_CPU1
        bool "Lock tasks to CPU1"
        default y
        help
		Lock user tasks to CPU 1

endmenu
